.page-title {
    margin-left: 40px;
    font-size: 38px;
    margin-top: 40px;
}

.flex-container {
    display: flex;
    justify-content: column;
    width: 100%;
    height: auto;

    .right {
    }

    .left {
        font-size: 1.5em;
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 30%;

        .headstock {
            width: 70%;
            height: 70%;
        }

        .caption {
            margin-top: 20px;
            display: block;
        }
    }
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    padding-top: 5px;
    font-size: 30px;
    width: 100%;
    flex-grow: 4;
}
