.homepage {
  display: flex;
  flex-direction: column;

  .home-content {
    height: 100%;
    padding: 20px;
    padding-left: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    //border : 1px solid #222831;
    //background:  white;

    .logo-row {
      display: flex;
      flex-direction: row;

      .logo-area {
        margin-right: 25px;
      }
  
      .infoText {
        display: table-cell;
        font-size: 25px;
        font-family: 'Lucida Sans Unicode';
        letter-spacing: -0.7px;
        // center the text vertically:
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  .bottom-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 76.4%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
