html {
  overflow-y: scroll;
  /*Prevents the header from shifting when there's a scroll bar*/
}

.header {
  height: 90px;
  width: 100%;
  display: flex;
  background: #222831;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: -125px;

  .title {
    height: 100%;
    width: 40%;
    font-size: 40px;
    margin-left: 5px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #32e0c4;
    letter-spacing: 2px;
  }

  .logo-area {
    height: 100%;
    width: 90px;
    padding: 5px;
    margin-left: 25px;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    font-size: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    .option {
      padding: 10px 12px;
      color: white;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      cursor: pointer;
    }
    .login {
      padding: 10px 12px;
      color: #32e0c4;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
      cursor: pointer;
    }
  }
}
