.profile-item2 {
    margin-left: 40px;
    margin-top: 20px;
  
    .band-stuff {
        height: 400px;
        width: 98%;
        margin-top: 30px;
        background: #e2e2e2;
        border: solid 5px #393e46;
    
        .button {
        margin: 80px;
        }
    }
  }