.req {
    display: inline;
    color: red;
}

.container {
    width: 95%;

    .new-band {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: auto;
    
        .title16 {
        font-size: 34px;
        margin-top: 20px;
        margin-bottom: 5px;
        }
    
        .subtitle16 {
        font-size: 26px;
        margin-bottom: -20px;
        }
    }
}

.sides {
    display: flex;
    flex-direction: row;
    width: 860px;
    margin-left: -220px;

    .left-side {
        float: left;
        margin-right: 50px;
        width: 50%;
    }
    
    .right-side {
        float: right;
        margin-left: 50px;
        width: 50%;

        .Main36 {
            padding-top: 36px;
        }

        .switch-title {
            padding-top: 40px;
        }

        .buttons16 {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            width: 100%;
        }
    }
}

