.tuner-page {
    display: flex;
    flex-direction: column;
    margin: auto 40px;

    @media screen and (max-width: 800px) {
        align-items: center;
    }

    .title {
        font-size: 38px;
        margin: 30px auto 0px;

        cursor: pointer;
        &:hover {
            color: grey;
        }
    }

    .items {
        display: grid;
        margin-top: 100px;
        margin-left: 10%;
        grid-template-columns: repeat(4, 22.5%);
        grid-gap: 0px;

        & .album-item {
            margin-bottom: 30px;
        }
    }
}
