.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-right: 20px;
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
}

/* left side*/

.left-side {
    margin: 50px;
    margin-top: 0px;
    max-width: 400px;

    .search {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .subscribe {
        margin-bottom: 100px;

        .form-control {
            margin-top: 8px;
            background-color: transparent;
        }
    }

    .subscriptions {
        .paper {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            list-style: none;
            padding: spacing(30.5);

            .chip {
                margin: 5px;
            }
        }
    }
}

/* right side*/

.username {
    padding: 12px 20px;
    margin: 8px 0;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #222831;
    color: white;
}

.messages {
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.send-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 8px 0;
    .select-wrapper {
        .select {
            background-color: white;
            max-height: 50px;
        }
    }
}
