.container-20 {
    width: 49.2%;
  
    .contents {
        height: 300px;
        background: #e2e2e2;
        border: solid 3px #393e46;
        display: flex;
        flex-direction: row;
    
        .chatIcon {
            background: url('../../assets/chatIcon.png') center;
            background-color: white;
            box-sizing: border-box;
            width: 250px;
            height: 250px;
            margin-top: 20px;
            margin-right: 20px;
            margin-left: auto;
                
            border: 2px solid #393e46;
            padding: 30px;

            background-size: contain;
            background-repeat: no-repeat;
            background-origin: content-box;
        }

        .text {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 35px;
            font-weight: bold;
            margin-left: auto;
            margin-right: auto;
            padding-left: 25px;
        }
    }

    &:hover {

        .contents {
            background: #d4d4d4;
        }
        
        .chatIcon {
            opacity: 0.6;
        }
        .text {
            opacity: 0.6;
            color: black;
        }
    }

    //Remove underline from text when hovering
    &:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
    }
}