.pause-component {
    margin-left: 8px;
    margin-bottom: 25px;
}

.play-component {
    margin-left: 8px;
    margin-bottom: 22px;
}

.play {
    height: 50px;
    width: 50px;
    border: 2px solid;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;

    &:hover {
        opacity: 80%;
    }
}

.pause {
    height: 50px;
    width: 50px;
    border: 5px solid;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 10px;
    cursor: pointer;

    &:hover {
        background-color: whitesmoke;
    }
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80px;

    li {
        padding: 16px 16px;
        border-bottom: 1px solid #ddd;
        height: 90px;
    }
    li:last-child {
        border-bottom: none;
    }
}

.list-item {
    padding-top: 10px;
}

.player {
    display: flex;
    justify-content: column;
}
