.container {
    width: 95%;

    .edit {
        width: 380px;
        display: flex;
        flex-direction: column;
        margin: auto;
    
        .title {
        font-size: 34px;
        margin-top: 40px;
        }
    
        .buttons1 {
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
        }

        .form-input-label {
            color: black;
        }
    }
}